body {
    background-position:  center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
h2{
    font-size: 18px;
    padding: 10px 20px;
    color: #575ed8;
}
#background{
    width: max-content;
    background: rgba(86, 90, 224, .6);
    padding:  15px;
    position:  fixed;
    right:  0;
    bottom: 0;
    transform: translateY(100%);
    transition: all .6s;
}
#background h2{
    color:  #fff;
    text-align:  center;
}
#url{
    margin: 0;
}
#url button{
    width:  fit-content;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 10px;
}
#my-chat{
    max-width: 44%;
    margin: 30px auto;
    border: 1px solid #000c40;
    box-shadow: 1px 3px 5px rgb(0, 12, 64);
    border-radius: 5px!important;
}

#chat-window{
    height: 400px;
    overflow: auto;
    background: rgba(249, 249, 249, .5);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#output p{
    margin: 5px 20px;
    color: #fff;
    width: -webkit-fill-available;
    text-align: left;
    height: auto;
    cursor: default;
    background: rgba(111, 66, 193, .7);
}
.other{
    position: relative;
    display:  flex;
    flex-direction:  row-reverse;
    background: rgba(0, 123, 255, 0.7) !important;
    border-color: #007bff;
}
#feedback p{
    color: #fff;
    padding: 14px 0px;
    margin: 0 20px;
}

#output strong{
    font-family: 'Courier New';
    color:#fff;
    font-weight: bold;
}
#output b{
    font-family: 'Courier New';
    text-transform: uppercase;
    color:#fff;
}
label{
    box-sizing: border-box;
    display: block;
    padding: 10px 20px;
}
textarea::placeholder{
    color:rgba(255, 255, 255, .7);
}

textarea{
    padding: 10px 20px;
    box-sizing: border-box;
    background: #000e3d !important;
    border: none !important;
    display: block;
    width: 100%;
    background: #fff;
    font-family: Nunito;
    font-size: 16px;
    color:  #fff !important;
    outline:  none !important;
}

button{
    background: #575ed8;
    color: #fff;
    font-family: 'Chicle', cursive;
    font-size: 18px;
    border: 0;
    padding: 12px 0;
    width: 100%;
    border-radius: 0 0 2px 2px;
}
i{
    width: -webkit-fill-available;
    font-size:  10px;
    line-height: 2;
}
#online {
    position:  fixed;
    top: 0;
    width: 23%;
    height: 100vh;
    padding: 20px;
}

#online h2 {
    color:  #fff;
    text-transform: uppercase;
    font-size: 26Px;
    padding: 11px;
}
h1{text-align:center;
   color:#fff}
#now {
    list-style:  none;
    color:  #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Press Start 2P', cursive;
    PADDING:  0;
}

#now li {
    padding: 11Px;
    width: 100%;
    font-family: monospace;
}
#me {
    position: fixed;
    top:  -1;
    right: -1;
    background: #000c40;
    width:  200px;
    height:  60px;
    margin:  0;
    padding: 12px;
    border: solid 1px #8c9cbb;
}

#me strong {
    color:  #fff;
    position: relative;
    line-height:  30px;
    padding-left: 15px;
}
#user {
    width: 41px;
    height: 40px;
    border-radius: 50%;
    border: solid 1px #fff;
    background-position: center !important;
    background-size: contain !important;
}
#ch-w {
    width:  100%;
    font-size: 15px;
    padding:  5px;
    width:  fit-content;
    position:  absolute;
    bottom:  0;
    right:  1px;
    transform: translateY(100%);
}
#close-wall {
    color:  #fff;
    position:  absolute;
    top: 3px;
    right: 10px;
    font-family: sans-serif;
    font-size: 20px;
    cursor: pointer;
}